@import "../../lib/scss/functions";

.staking {
  display: flex;
  justify-content: space-between;

  height: calc(100% - 150px);
  margin-top: 40px;

  &__wrapper {
    &:first-child {
      width: 40%;
    }

    &:last-child {
      display: flex;
      justify-content: flex-end;

      width: 60%;
    }
  }
}
