@import "../../lib/scss/functions";

.staking {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;

  margin-top: 40px;

  &__title {
    margin-top: 0;
    margin-bottom: 50px;

    color: #FFF9F9;
    font-size: vw(48px);
    line-height: vw(56px);
  }

  &__description {
    color: #FFF9F9;
    font-size: vw(18px);
    line-height: vw(21px);
  }

  &__wrapper {
    &:first-child {
      width: 40%;
    }

    &:last-child {
      display: flex;
      justify-content: flex-end;

      width: 60%;
    }
  }
}
