.title {
  margin-top: 0;
  margin-bottom: 50px;

  color: #FFF9F9;
  font-size: 48px;
  line-height: 56px;

  @media (max-width: 1199px) {
    margin-bottom: 14px;

    font-family: 'Roboto Mono', sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
  }
}
