.lmx {
  display: flex;
  justify-content: space-between;

  height: calc(100% - 150px);
  margin-top: 40px;

  @media (max-width: 1200px) {
    flex-direction: column;
    justify-content: flex-start;

    margin-top: 0;
  }

  &__wrapper {
    &:first-child {
      width: 40%;

      @media (max-width: 1200px) {
        width: auto;

        & > .description {
          display: none;
        }

        & > .title {
          text-align: center;
        }
      }
    }

    &:nth-child(2) {
      display: flex;
      justify-content: flex-end;

      width: 60%;

      @media (max-width: 1200px) {
        justify-content: center;

        width: auto;
        margin-bottom: 12px;
      }
    }
  }

  &__description {
    display: flex;
    align-items: flex-start;

    margin-top: 20px;

    &__wrapper {
      width: 50%;
    }

    &__main-wrapper {
      @media (min-width: 1200px) {
        display: none;
      }
    }

    &__title {
      display: block;

      margin-bottom: 20px;

      font-weight: bold;
    }

    &__content {
      white-space: pre-wrap;
    }
  }
}

.lmx-modal {
  & .dropdown__trigger {
    padding: 0;
    border-color: transparent;

    font-family: 'Roboto Mono', sans-serif;
    color: #FFF9F9;
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
  }

  & .staking__card__list {
    margin-top: 6px;
  }
}
