.description {
  color: #FFF9F9;
  font-size: 18px;
  line-height: 21px;

  @media (max-width: 1200px) {
    font-family: 'Roboto Mono', sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
  }
}
