.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  height: 110px;

  &__logo {
    display: flex;
    align-items: center;
  }

  .nav {
    &__list {
      display: flex;
      align-items: center;

      margin: 0;
      padding: 0;

      list-style: none;
    }

    &__item {
      &:not(:last-child) {
        margin-right: 40px;
      }

      & > a {
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 21px;
        text-decoration: none;
        color: rgba(255, 249, 249, 0.5);

        &.active {
          color: #FFF9F9;
        }
      }
    }
  }

  .user-nav {
    display: flex;
    align-items: center;

    &__mainnet {
      display: flex;
      align-items: center;

      padding: 4px 8px;
      margin-right: 8px;

      background-color: transparent;
      border: 1px solid #F2EE93;
      border-radius: 4px;
      box-sizing: border-box;
      cursor: pointer;

      & > span {
        display: block;

        margin: 0 8px;

        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 300;
        font-size: 9px;
        line-height: 11px;
        color: rgba(255, 249, 249, 0.5);
      }
    }

    &__balance {
      display: flex;
      align-items: center;

      margin-right: 8px;
      padding: 0 8px;

      font-family: 'Roboto', sans-serif;
      font-style: normal;
      font-weight: 300;
      font-size: 9px;
      line-height: 11px;
      color: rgba(255, 249, 249, 0.5);

      &__icon {
        display: block;

        width: 16px;
        height: 16px;
        margin-right: 8px;

        background-color: rgba(255, 249, 249, 0.5);
        border-radius: 100%;
      }
    }

    &__wallet {
      margin-right: 8px;
      padding: 0 8px;

      font-family: 'Roboto', sans-serif;
      font-style: normal;
      font-weight: 300;
      font-size: 9px;
      line-height: 11px;
      color: rgba(255, 249, 249, 0.5);
    }

    &__settings {
      background-color: transparent;
      border: none;
      cursor: pointer;
    }
  }
}
