@use '/src/styles/index';

.ExchangesRates {
    @extend .dialog;

    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 0;

    @media (min-width: 1200px) {
        width: 310px;
    }

    @media (max-width: 1200px) {
        border: none;
    }

    .top {
        display: flex;
        justify-content: space-between;
        align-items: center;

        padding: 24px 20px 0;

        .title {
            margin-bottom: 0;
            font-size: 14px;
            line-height: 16px;
            color: rgba(255, 249, 249, 0.5);
        }

        .step {
            display: flex;
            align-items: center;

            > span:nth-child(1) {
                font-weight: 300;
                font-size: 11px;
                line-height: 11px;
                color: rgba(255, 249, 249, 0.5);
                margin-right: 12px;
            }

            > span:nth-child(2) {
                font-weight: 300;
                font-size: 11px;
                line-height: 11px;
                color: rgba(255, 249, 249, 0.5);
                margin-right: 4px;
            }

            > span:nth-child(3) {
                font-family: 'Roboto Mono', sans-serif;
                font-weight: 300;
                font-size: 12px;
                line-height: 10px;
                color: #FFF9F9;
            }
        }
    }

    .content {
        height: 100%;
        padding: 0 20px;
        overflow: auto;

        table {
            width: 100%;

            thead {
                td {
                    position: sticky;
                    z-index: 1;
                    top: 0;

                    background-color: #111721;
                }
            }
        }

        .price {
            padding-right: 29px;
        }

        .min {
            padding-right: 17px;
        }

        thead td {
            font-weight: 300;
            line-height: 11px;
            color: #55647D;
            padding: 13px 0;

            &.amount {
                padding-right: 16px;
                text-align: right;
            }
        }

        table {
            position: relative;

            td {
                font-size: 13px;
            }
        }

        tbody {
            font-weight: 300;
            font-size: 11px;
            line-height: 13px;
            font-family: 'Roboto Mono', sans-serif;

            tr {
                height: 16px;
            }

            .amount, .price {
                font-family: 'Roboto Mono', sans-serif;
            }

            .amount {
                color: rgba(255, 249, 249, 0.5);
            }

            .amount {
                text-align: right;
            }

            .progress {
                position: absolute;
                z-index: 0;
                right: 0;

                height: 16px;

                transform: translateY(-14px);
            }
        }

        .red-rate {
            .price {
                color: #B0685D;
            }

            .progress {
                background-color: rgba(160, 58, 51, 0.3);
            }

            &--big {
                & .progress {
                    display: none;
                }

                & .price {
                    color: rgba(255, 249, 249, 0.5);
                    font-size: 14px;
                    font-weight: 500;
                    line-height: 18px;
                }
            }
        }

        .green-rate {
            .price {
                color: #9AC073;
            }

            .progress {
                background-color: rgba(77, 124, 73, 0.3);
            }

            &--big {
                & .progress {
                    display: none;
                }

                & .price {
                    color: rgba(255, 249, 249, 0.5);
                    font-size: 14px;
                    font-weight: 500;
                    line-height: 18px;
                }
            }
        }
    }

    .bottom {
        border-top: 1px solid #3BD795;
        padding: 14px 20px 24px;

        .title {
            font-size: 12px;
            line-height: 14px;
            color: rgba(255, 249, 249, 0.5);
        }

        .lines {
            margin: 7px 0 0;

            .line {
                display: flex;
                justify-content: space-between;

                > span:nth-child(1) {
                    font-weight: 300;
                    font-size: 11px;
                    line-height: 14px;
                    color: rgba(255, 249, 249, 0.5);
                }

                > span:nth-child(2) {
                    font-family: 'Roboto Mono', sans-serif;
                    font-weight: 300;
                    font-size: 11px;
                    line-height: 14px;
                    color: #FFF9F9;
                }
            }
        }
    }
}