.ambassador {
  @media (min-width: 1200px) {
    display: flex;
    align-items: flex-start;

    margin-top: 40px;
  }

  &__wrapper {
    &:first-child {
      & > .title {
        text-align: center;
      }

      & > .description {
        display: flex;
        flex-direction: column;

        & > span:first-child {
          order: 2;
        }

        & > .ambassador__link {
          order: 1;
        }
      }
    }

    @media (min-width: 1200px) {
      &:first-child {
        width: 50%;
        margin-right: 100px;

        & > .title {
          text-align: left;
          font-weight: normal;
        }

        & > .description {
          & > span:first-child {
            order: 1;
          }

          & > .ambassador__link {
            order: 2;
          }
        }

        & > .lmx__rewards {
          margin-top: 50px;
        }
      }

      &:last-child {
        display: flex;
        align-self: stretch;

        width: 50%;
      }
    }
  }

  &__link {
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 5px 10px;
    margin-bottom: 15px;

    border: 1px solid #3BD795;
    border-radius: 10px;

    font-family: 'Roboto Mono', sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;

    & > a {
      display: block;

      margin-left: 5px;

      font-family: 'Roboto', sans-serif;
      font-weight: 500;
      color: #3BD795;
    }

    & > button {
      display: block;

      margin-left: 8px;

      background-color: transparent;
      border: none;
      cursor: pointer;

      & > svg {
        width: 24px;
        height: 24px;
      }
    }

    @media (min-width: 1200px) {
      justify-content: flex-start;

      padding: 0;
      margin-top: 20px;

      border: none;

      font-family: 'Roboto', sans-serif;
      font-size: 18px;
      font-weight: 400;
      line-height: 21px;

      & > a {
        font-size: 22px;
        font-weight: 700;
        line-height: 26px;
      }

      & > button {
        & > svg {
          width: 36px;
          height: 36px;
        }
      }
    }
  }

  &__stats {
    width: 100%;
    padding: 8px 20px;

    border: 1px solid #3BD795;
    border-radius: 12px;
    backdrop-filter: blur(40px);

    &__title {
      display: block;

      margin-bottom: 10px;

      font-size: 18px;
      color: #FFF9F9;
      font-weight: 500;
      line-height: 21px;
    }

    &__table {
      width: 100%;

      &__wrapper {
        max-height: 150px;

        overflow-y: auto;

        @media (min-width: 1200px) {
          max-height: none;
        }
      }

      & td,
      & th {
        padding: 4px 8px;

        text-align: left;
      }

      & thead th {
        border-top: 1px solid #202734;
        border-bottom: 1px solid #202734;
      }

      & tbody tr {
        &:not(:last-child) {
          border-bottom: 1px solid #202734;
        }
      }

      & thead th {
        position: sticky;
        top: 0;

        background-color: #111721;

        font-size: 15px;
        color: #55647D;
        font-weight: bold;
        line-height: 18px;
      }

      & tbody td {
        font-size: 13px;
        color: #88888D;
        line-height: 15px;

        & button {
          padding: 2px 6px;

          background: rgba(255, 249, 249, 0.5);
          border: none;
          border-radius: 8px;
          cursor: pointer;

          font-size: 12px;
          color: #202734;
          font-weight: 500;
          line-height: 14px;
        }
      }
    }
  }
}
